/* start global variables */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}

body {
  font-family: 'Work Sans', sans-serif;
}
/* end global variables */

/* start components */
section:not(.landing) {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-heading h2 {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.main-heading h2 + p {
  text-align: center;
  margin-bottom: 70px;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  top: 67px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  z-index: 1;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 131px;
  border: 1px solid black;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
/* end components */

/* start header */
header {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width:768px) {
  header {
    width: 100%;
  }
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.589);
  color: white;
}

header .logo img {
  height: 40px;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav i {
  font-size: 1.3rem;
}

.search {
  border-left: 1px solid white;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  padding: 40px 0;
}

header nav ul li a{
  font-size: 0.875rem;
  text-decoration: none;
  color: white;
}

header nav .search i {
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  header nav ul li a {
    padding: 41px 10px;
  }
  header nav ul li:first-child a{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  .search {
    margin-left: 20px;
  }
  header nav .menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo {
    padding: 26.8px 0;
  }
  header nav ul {
    display: none;
    position: absolute;
    top: 96px;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.431);
    z-index: 1;
  }
  header nav ul li {
    padding: 15px;
    width: 100%;
    transition: 0.5s;
  }
  header nav .menu:hover ~ ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header nav ul li:first-child {
    color: var(--main-color);
    border-color: var(--main-color);
  }

  header nav .menu {
    display: block;
    font-size: 1.25rem;
    margin-right: 20px;
  }

  nav ul li:first-child a{
    padding: 10px;
    color: var(--main-color);
  }

  nav ul li:first-child {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
}
/* end header */

/* start landing */
.landing {
  height: 100vh;
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/images/landing.webp);
  background-size: cover;
  filter: brightness(0.4);
}

.landing .intro {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  padding: 50px;
  background-color: rgb(15 116 143 / 70%);
  color: white;
}

@media screen and (min-width:768px) {
  .landing .intro {
    width: 50%;
  }
}

.landing .intro h2, .landing .intro p {
  font-style: normal;
  font-weight: normal;
}

.landing .intro h2 {
  font-size: 2rem;
  line-height: 2.6;
  margin-top: 0;
}

.landing .intro p {
  font-size: 0.875rem;
  line-height: 2;
  margin: 0;
}

.landing .bullets{
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 5px;
}

.landing .bullets li:nth-child(2) {
  background-color: var(--main-color);
}

.landing i:first-of-type, .landing i:last-of-type {
  position: absolute;
  z-index: 1;
  color: #ddd;
  font-size: 1.7rem;
  top: 50%;
}

.landing i:first-of-type {
  right: 3%;
  transform: translate(-100%, -50%);
}

.landing i:last-of-type {
  left: 3%;
  transform: translateY(-50%);
}

@media screen and (max-width:768px) {
  .landing i {
    display: none;
  }
}
/* end landing */

/* start services */

.services .services-container .srv-box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 40px;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .services .services-container .srv-box{
    flex-direction: row;
    align-items: center;
  }

  @media screen and (min-width:992px) {
    .services .services-container .srv-box {
      width: 46%;
      margin: 10px;
      display: inline-flex;
      text-align: left;
    }
  }
  .services .services-container .srv-box .text {
    width: calc(100% - 57px);
  }
  
}

.services .services-container .srv-box i {
  font-size: 50px;
  align-self: flex-start;
}

.services .services-container .srv-box h3 {
  color: var(--main-color);
  margin-left: 35px;
  margin-top: 0;
}

.services .services-container .srv-box p {
  color: #777;
  margin-left: 35px;
}
/* end services */
/* start design  */
.design {
  position: relative;
  height: 600px;
  overflow: hidden;

}

.design::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000ba;
  background-image: url(/images/design-features.webp);
  filter: brightness(0.4);
}
.design .text {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  padding: 50px;
  background-color: rgb(15 116 143 / 70%);
  color: white;
}

@media screen and (min-width:768px) {
  .design .text {
    width: 50%;
  }
}

.design .text h3 {
  margin: 0 0 40px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
}

.design .text ul {
  padding: 0;
  margin: 0;
}

.design .text ul li {
  padding: 15px;
  list-style: none;
}

.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;

}


.design .image {
  position: absolute;
  top: 33%;
}

@media screen and (max-width:768px) {
  .design .image {
    display: none;
  }
}
/* end design  */
/* start portfolio */

.portfolio ul {
  display: flex;
  list-style: none;
  justify-content: center;
  text-transform: capitalize;
  padding: 0;
}

.portfolio ul li{
  padding: 10px;
  margin: 0 3px;
  font-weight: 400;
  cursor: pointer;
}

.portfolio ul li:first-child{
  background-color: var(--main-color);
  color: white;
}

.imgscontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.imgscontainer .box {
  margin: auto;
  overflow: hidden;
  position: relative;
}

.imgscontainer .box img {
  width: 100%;
  transition-duration: 0.5s;
}

@media screen and (min-width:768px) {
  .imgscontainer .box {
    width: 50%;
  }
  .imgscontainer {
    flex-direction: row;
  }
}

@media screen and (min-width:1200px) {
  .imgscontainer .box {
    width: calc(100% / 4);
  }
  .imgscontainer {
      flex-direction: row;
  }
}

.imgscontainer .box:hover img {
  transform: rotateZ(5deg) scale(1.1);
}

.imgscontainer .box .caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  padding: 2px;
  background-color: white;
  line-height: 2;
  transition-duration: 0.3s;
}

.imgscontainer .box:hover .caption {
  height: 80px;
}

.imgscontainer .box .caption h4 {
  margin: 0;
  font-weight: normal;
}

.imgscontainer .box .caption p {
  margin: 0;
  font-weight: normal;
  color: var(--main-color);
}

.portfolio a {
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
  padding: 10px;
  display: inline;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-top: 25px;
}
/* end portfolio */
/* start video  */
.video {
  position: relative;
}

.video video {
  width: 100%;
  filter: brightness(0.4);
}

.video .text {
  position: absolute;
  background-color: rgb(15 116 143 / 70%);
  padding: 60px;
  text-align: center;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  line-height: 2;
  color: white;
}

.text h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0;
}

.text p {
  text-transform: capitalize;
  margin: 0;
}

.text button {
  text-transform: uppercase;
  margin-top: 1rem;
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
}
/* end video  */